body
{
    font: 14px 'Courier New';
    background-image: url("clouds2.jpg");
}

#mainNav
{
    background-color:#eae7df;
}

#button1
{
    background-color: rgba(234, 221, 223, 0.4);
    font-family: "Courier New";
    font-size: 18px;
    -webkit-appearance: button;
    -moz-appearance: button;
}

.easy-button{
    -webkit-appearance: button;
    -moz-appearance: button;
}

.challenge-button{
    -webkit-appearance: button;
    -moz-appearance: button;
}

#return-button{
    display: none;
}

#note
{
    font-size: 164px;
}

.droptarget
{
    background-color: #348781;
}
div.confident
{
    color: white;
}
div.vague
{
    color: white;
}
#note
{
    display: inline-block;
    height: 180px;
    text-align: left;
}
#tuner_stuff
{
    display: none;
}
#detector
{
    border: 4px solid white;
    border-radius: 8px;
    height: 300px;
    padding-top: 10px;
    text-align: center;
    width: 300px;
}
#output
{
    height: 42px;
    width: 300px;
}
#flat
{
    display: none;
}
#sharp
{
    display: none;
}
.flat #flat
{
    display: inline;
}
.sharp #sharp
{
    display: inline;
}

.good-button{
    -webkit-appearance: button;
    background-color: rgba(234, 221, 223, 0.4);
    font-size: 14px;
    font-family: 'Courier New';
    display: inline-block;
}

.form-control{
    display:inline;
    width:160px;
    height:20px;
}

.form-control2{
    display:inline;
    width:177px;
    height:20px;
}

.accuracy {
    display: none;
}