html{
    width:100%;
}

body
{
    width:100%;
    font: 18px 'Courier New';
    background-image: url("clouds2.jpg");
}

#mainNav
{
    background-color:#eae7df;
}

#button1
{
    background-color: rgba(234, 221, 223, 0.4);
    font-family: "Courier New";
    font-size: 18px;
    -webkit-appearance: button;
    -moz-appearance: button;
}

.easy-button{
    -webkit-appearance: button;
    -moz-appearance: button;
}

.challenge-button{
    -webkit-appearance: button;
    -moz-appearance: button;
}

#return-button{
    display: none;
}

#note
{
    font-size: 164px;
}

.droptarget
{
    background-color: #348781;
}
div.confident
{
    color: white;
}
div.vague
{
    color: white;
}
#note
{
    display: inline-block;
    height: 180px;
    text-align: left;
}
#tuner_stuff
{
    display: none;
}
#detector
{
    border: 4px solid white;
    border-radius: 8px;
    height: 300px;
    padding-top: 10px;
    text-align: center;
    width: 300px;
}
#output
{
    height: 42px;
    width: 300px;
}
#flat
{
    display: none;
}
#sharp
{
    display: none;
}
.flat #flat
{
    display: inline;
}
.sharp #sharp
{
    display: inline;
}

.good-button{
    -webkit-appearance: button;
    background-color: rgba(234, 221, 223, 0.4);
    font-size: 18px;
    font-family: 'Courier New';
    display: inline-block;
}

.form-control{
    width:150px;
    height:27px;
}

.form-control2{
    width:172px;
    height:27px;
    margin-bottom:5px;
}

form{
    width:100%;
    /*text-align: center;*/
}

.accuracy {
    display: none;
}

.routines
{
    font: 14px 'Courier New';
}

.checkme{
    text-align: left;
}

.formdiv{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
}

div.audiodiv{
    text-align: left;
}

label{
    font-weight: 100;
}