{% extends "base.html" %}
{% block title %}
voicecoach
{% endblock %}
{% block content %}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-6 col-xs-12">
         <p>
            <br>
            <br>
            <br>
            <br>
            VoiceCoach lets you tune your voice and 
            practice your scales. See if you're 
            hitting the right pitch with the built-in
            pitch detector, then build a practice 
            routine for yourself to serve what your 
            voice needs right now. 
         </p>
      </div>
   </div>
</div>
{% endblock %}