{% extends "base.html" %}
{% block title %}
voicecoach
{% endblock %}
{% block content %}

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-6 col-xs-12">
<p>
    <br>
     <br>
        <br>
        <br>
This thing was made by <a href="github.com/blakegilmore">Blake Gilmore</a>.
The cool stuff was written mostly in Javascript.
It calls on multiple other things written in Javascript by other people, including <a href="https://github.com/cwilso/pitchdetect">a pitch detector from Chris Wilson</a>
<a href="https://github.com/zirafa/pushtape-player.js">, an audio player from zirafa</a>, the Sound Manager 2 API, and the web's built-in API for audio. 
</p>
</div>
</div>
</div>
{% endblock %}