{% extends "base.html" %}
{% block title %}
voicecoach
{% endblock %}
{% block content %}
<!-- button to practice using a routine -->
<div id="extending">
{% for flash in get_flashed_messages() %}
<div class="alert alert-danger" style="width:90%; margin:0 auto;">{{ flash }}</div>
{% endfor %}
</br>
</br>
</br>
</br>
</br>
</br>
<div class="text-center">
   </br>
   <!-- button to tune your voice-->
   <form action="/tuner">
      <input class="btn btn-default good-button" id="button1" type="submit" value="how's my pitch?">
   </form>
   </br>
   <form action="/practice_selection">
      <input class="btn btn-default good-button" id="button1" type="submit" value="practice">
   </form>
   </br>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
{% endblock %}
