{% extends "base.html" %}

{% block title %}
voicecoach
{% endblock %}

{% block content %}
<!-- button to practice using a routine -->
</br>
<div class="text-center">
<form action="/practice_selection">
    <input class="btn btn-default" id="button1" type="submit" value="practice">
</form>
</br>
<!-- button to tune your voice-->
<form action="/tuner">
    <input class="btn btn-default" id="button1" type="submit" value="how's my pitch?">
</form>
</div>
<div id="extending">
    {% for flash in get_flashed_messages() %}
      <div class="alert alert-danger" style="width:90%; margin:0 auto;">{{ flash }}</div>
    {% endfor %}
</div>
{% endblock %}

