{% extends "base.html" %}
{% block title %}
practice 
{% endblock %}
{% block content %}
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="text-center">
   <!-- button to set a new routine -->
   <form action="/routine_builder">
      <input class="btn btn-default good-button" id="button1" type="submit" value="set a new routine">
   </form>
   </br>
   <!-- button to play a routine -->
   <form action="/routine_displayer">
      <input class="btn btn-default good-button" id="button1" type="submit" value="play a saved routine">
   </form>
</div> <!-- close form div -->
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div id="extending">
{% for flash in get_flashed_messages() %}
<div class="alert alert-danger" style="width:90%; margin:0 auto;">{{ flash }}</div>
{% endfor %}
{% endblock %}