{% extends "base.html" %}

{% block title %}
practice 
{% endblock %}

{% block content %}

<!-- button to set a new routine -->
<form action="/routine_builder">
    <input type="submit" value="set a new routine">
</form>
<!-- button to play a routine -->
<form action="/routine_displayer">
    <input type="submit" value="play a saved routine">
</form>
<div id="extending">
    {% for flash in get_flashed_messages() %}
      <div class="alert alert-danger" style="width:90%; margin:0 auto;">{{ flash }}</div>
    {% endfor %}

{% endblock %}
