{% extends "base.html" %}
{% block title %}
routine builder
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-offset-4 col-sm-6 col-xs-12">
         <br>
         <br>
         <br>
         <br>
        <br>
         <div class="formdiv">
            <form action="/routine_adder" method="get">
               <label>Routine name: <input type="text" class="form-control form-control2 good-button" name="RoutineName"></label><br>
               <label>Need it serves: <input type="text" class="form-control good-button" name="RoutineNeed"></label><br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
               <br>
         <div class="audiodivs">
           <input type="checkbox" name="audio_file" value="tiny_oo">tiny oo 
           </br><audio controls>
           <source src="../static/tiny_oo.mp3" type="audio/mpeg">
           <!--   <source src="bratty_a.mp3" type="audio/mp3">
              <source src="tongue_trills.mp3" type="audio/mp3"> -->
           </audio>
        </div> 
         <div class="audiodivs">
             <br>
             <input type="checkbox" name="audio_file" value="bratty_a">bratty a     
             <br>
             <audio controls>
             <source src="../static/bratty_a.mp3" type="audio/mpeg">
             <!--   <source src="bratty_a.mp3" type="audio/mp3">
                <source src="tongue_trills.mp3" type="audio/mp3"> -->
             </audio>
        </div>
         <div class="audiodivs">
            <br>
             <input type="checkbox" name="audio_file" value="tongue_trills">tongue trills     
             <br>
             <audio controls>
             <source src="../static/tongue_trills.mp3" type="audio/mpeg">
             <!--   <source src="bratty_a.mp3" type="audio/mp3">
                <source src="tongue_trills.mp3" type="audio/mp3"> -->
             </audio>
        </div> <!-- close audio div -->
         <br>
         <input class="btn btn-default good-button" type="submit" value="Submit">
         </form>
      </div>       <!-- close form div -->
      </div>
   </div>
   <!-- close row -->
</div>
<!-- close container -->
{% endblock %}