{% extends "base.html" %}

{% block title %}
routine builder
{% endblock %}

{% block content %}
</br>
</br>
</br>
</br>
</br>
<form action="/routine_adder" method="get">
    Routine name: <input type="text" name="RoutineName"><br>
    Need it serves: <input type="text" name="RoutineNeed"><br>
  </br>
  <input type="checkbox" name="audio_file" value="tiny_oo">tiny oo 
    </br>    <audio controls>
  <source src="../static/tiny_oo.mp3" type="audio/mpeg">
<!--   <source src="bratty_a.mp3" type="audio/mp3">
  <source src="tongue_trills.mp3" type="audio/mp3"> -->
</audio><br><br>
 <input type="checkbox" name="audio_file" value="bratty_a">bratty a     
   </br>
   <audio controls>
  <source src="../static/bratty_a.mp3" type="audio/mpeg">
<!--   <source src="bratty_a.mp3" type="audio/mp3">
  <source src="tongue_trills.mp3" type="audio/mp3"> -->
</audio><br><br>
 <input type="checkbox" name="audio_file" value="tongue_trills">tongue trills     
   </br>
   <audio controls>
  <source src="../static/tongue_trills.mp3" type="audio/mpeg">
<!--   <source src="bratty_a.mp3" type="audio/mp3">
  <source src="tongue_trills.mp3" type="audio/mp3"> -->
</audio>
  <!-- if the box is checked, create a new row with the associated value 
and the name of the routine 
enter that new row into the database -->
  <input type="submit" value="Submit">
</form>
{% endblock %}